.homepage-section{
    position: relative;
    height: 100vh;
    margin: 0;
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}
.homepage-side{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;

}

@media (max-width: 767px){
    .homepage-side{
        height: 100%;
    }
}
.homepage-header{
    color: white;
    padding: 4px;
}
.group-wrapper{
    padding: 0;

}
.main{
    overflow: hidden;
    background-image: url(/assets/img/home-bg.jpeg);
    background-position: center center;
    background-size: cover;
}
