.homepage-section{
    position: relative;
    height: 100vh;
    margin: 0;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
  background-image: url(https://source.unsplash.com/RLw-UC03Gwc/1600x900);
  background-position: center center;
  background-size: cover;

}
.homepage-side{
    height: 100vh;
    background-color: #e8e8e8 ;
}
.homepage-header{
    color: white;
    padding: 4px;
}
.group-wrapper{
padding: 0;

}
.main{
    overflow: hidden;
}
