.newitem{
  background-color: rgba(50, 45, 45, 0.48);
  margin-top: 20px;
  margin-bottom: 27px;

}
.newitem-input{
    background-color: transparent;
    background: none !important;
    color: #fff;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 28px;
    border-radius: 0 !important;
    font-size: 20px;
    width: 100%;
    border: none !important;

}
input.newitem-input:focus {
    border: none;
}
