<div class="login-wrapper">
  <div class="login-filter"></div>
    <div class="col-md-6 col-md-offset-3 login-content">
        <img src="assets/img/yatodo.png" class="login-img"/>
        <h2 class="login-title">Login</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group login-form" [ngClass]="{ 'has-error': f.submitted && !username.valid }">

                <input type="text" class="form-control login-input" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Username" equired />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">

                <input type="password" class="form-control login-input" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <button [disabled]="loading" class="btn btn-primary login-button">Log In</button>
             <a [routerLink]="['/register']" class="btn btn-link login-register">Register</a>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
  </div>
