<section class="main">
    <div class="username">
        <span class="user-logo">{{firstLetter}}</span> {{username}}
    </div>

    <div class="item-group">
        <ul class="list-group">
            <a class="list-group-item item" (click)="switchGroup(inbox)" 
                [class.current]="inbox.selected">
                <span class="badge">{{inbox.count}}</span>
                <div class="title-wrapper">
                    <span class="title-wrapper-title">{{inbox.name}}</span>
                </div>
            </a>
            <a *ngFor="let group of groups" (click)="switchGroup(group)"
                class="list-group-item item" [class.current]="group.selected">
                <span class="badge">{{group.count}}</span>
                <div class="title-wrapper">
                    <span class="title-wrapper-title">{{group.name}}</span>

                </div>
            </a>
        </ul>
    </div>
    <div class="add-wrapper"(click)="addGroup()">
      <span type="button" class="btn btn-primary add-button" >+</span>
    </div>

    <a class="btn btn-link logout-link"[routerLink]="['/login']">Logout</a>
</section>
