.itemgroup{
    padding-bottom: 30px;
}
.item{
    margin: 1px;
}
a.list-group-item.item {
    border: none;
    background-color: #c1baad;
    margin: 2px;
}
.edit{
    background-color: transparent;
    background: none !important;
    color: black;
    padding-left: 28px;
    border-radius: 2px !important;
    font-size: 20px;
    width: 100%;

}

input.edit:focus {
    border: none;
}

.show-completed {
    color: #ffffff;
    background-color: rgba(156, 150, 141, 0.57);
    padding: 0;
    text-align: center;
    border-radius: 4px;
}

.show-completed:hover{
    cursor: pointer;
}
.completed-text {
    margin: 5px;
    cursor: pointer;
}

.completed-group{
    text-decoration: line-through;
}

.completed-list{
    display:none;
}

li.list-group-item.item.complted-item {
    background-color: transparent;
    border: none;
    padding: 0;
}
